:root {
  --shadow-color: 150 100% 10%;
  --card-shadow: 0 -1px 2px 0 hsl(var(--shadow-color) / 17%),
    0 2px 1px -2px hsl(var(--shadow-color) / 18%),
    0 5px 5px -2px hsl(var(--shadow-color) / 18%),
    0 10px 10px -2px hsl(var(--shadow-color) / 19%),
    0 20px 20px -2px hsl(var(--shadow-color) / 20%),
    0 40px 40px -2px hsl(var(--shadow-color) / 22%);
}

html,
body {
  height: 100%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: grid;
  place-items: center;
  background-image: linear-gradient(45deg, hsl(191deg, 86%, 49%), hsl(280deg, 78%, 69%), hsl(356deg, 90%, 64%));
}

img {
  max-width: 30vmax;
}

.card {
  --perspective: 32rem;
  --angle: 18deg;
  position: relative;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  cursor: pointer;
}
.card-image {
  grid-column: 1/-1;
  grid-row: 1/-1;
  box-shadow: var(--card-shadow);
  transition: all 250ms linear;
}

.mouse-tracker {
  opacity: 0.25;
  z-index: 2;
  /* 
   * the z-index property would work with the static position due to we are using
   * grid and z-index works on grid items without changing the position of them.
  */
}
.mouse-tracker:nth-of-type(10n - 0) {
  grid-column: 10/11;
}
.mouse-tracker:nth-of-type(10n - 1) {
  grid-column: 9/10;
}
.mouse-tracker:nth-of-type(10n - 2) {
  grid-column: 8/9;
}
.mouse-tracker:nth-of-type(10n - 3) {
  grid-column: 7/8;
}
.mouse-tracker:nth-of-type(10n - 4) {
  grid-column: 6/7;
}
.mouse-tracker:nth-of-type(10n - 5) {
  grid-column: 5/6;
}
.mouse-tracker:nth-of-type(10n - 6) {
  grid-column: 4/5;
}
.mouse-tracker:nth-of-type(10n - 7) {
  grid-column: 3/4;
}
.mouse-tracker:nth-of-type(10n - 8) {
  grid-column: 2/3;
}
.mouse-tracker:nth-of-type(10n - 9) {
  grid-column: 1/2;
}
.mouse-tracker:nth-of-type(n + 1):nth-of-type(-n + 10) {
  grid-row: 1/2;
}
.mouse-tracker:nth-of-type(n + 11):nth-of-type(-n + 20) {
  grid-row: 2/3;
}
.mouse-tracker:nth-of-type(n + 21):nth-of-type(-n + 30) {
  grid-row: 3/4;
}
.mouse-tracker:nth-of-type(n + 31):nth-of-type(-n + 40) {
  grid-row: 4/5;
}
.mouse-tracker:nth-of-type(n + 41):nth-of-type(-n + 50) {
  grid-row: 5/6;
}
.mouse-tracker:nth-of-type(n + 51):nth-of-type(-n + 60) {
  grid-row: 6/7;
}
.mouse-tracker:nth-of-type(n + 61):nth-of-type(-n + 70) {
  grid-row: 7/8;
}
.mouse-tracker:nth-of-type(n + 71):nth-of-type(-n + 80) {
  grid-row: 8/9;
}
.mouse-tracker:nth-of-type(n + 81):nth-of-type(-n + 90) {
  grid-row: 9/10;
}
.mouse-tracker:nth-of-type(n + 91):nth-of-type(-n + 100) {
  grid-row: 10/11;
}
.mouse-tracker:nth-of-type(1):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-1 * var(--angle) * -1)) rotateY(calc(-1 * var(--angle)));
}
.mouse-tracker:nth-of-type(2):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-1 * var(--angle) * -1)) rotateY(calc(-0.9510565163 * var(--angle)));
}
.mouse-tracker:nth-of-type(3):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-1 * var(--angle) * -1)) rotateY(calc(-0.8090169944 * var(--angle)));
}
.mouse-tracker:nth-of-type(4):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-1 * var(--angle) * -1)) rotateY(calc(-0.5877852523 * var(--angle)));
}
.mouse-tracker:nth-of-type(5):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-1 * var(--angle) * -1)) rotateY(calc(-0.3090169944 * var(--angle)));
}
.mouse-tracker:nth-of-type(6):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-1 * var(--angle) * -1)) rotateY(calc(0 * var(--angle)));
}
.mouse-tracker:nth-of-type(7):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-1 * var(--angle) * -1)) rotateY(calc(0.3090169944 * var(--angle)));
}
.mouse-tracker:nth-of-type(8):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-1 * var(--angle) * -1)) rotateY(calc(0.5877852523 * var(--angle)));
}
.mouse-tracker:nth-of-type(9):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-1 * var(--angle) * -1)) rotateY(calc(0.8090169944 * var(--angle)));
}
.mouse-tracker:nth-of-type(10):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-1 * var(--angle) * -1)) rotateY(calc(0.9510565163 * var(--angle)));
}
.mouse-tracker:nth-of-type(11):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-0.9510565163 * var(--angle) * -1)) rotateY(calc(-1 * var(--angle)));
}
.mouse-tracker:nth-of-type(12):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-0.9510565163 * var(--angle) * -1)) rotateY(calc(-0.9510565163 * var(--angle)));
}
.mouse-tracker:nth-of-type(13):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-0.9510565163 * var(--angle) * -1)) rotateY(calc(-0.8090169944 * var(--angle)));
}
.mouse-tracker:nth-of-type(14):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-0.9510565163 * var(--angle) * -1)) rotateY(calc(-0.5877852523 * var(--angle)));
}
.mouse-tracker:nth-of-type(15):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-0.9510565163 * var(--angle) * -1)) rotateY(calc(-0.3090169944 * var(--angle)));
}
.mouse-tracker:nth-of-type(16):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-0.9510565163 * var(--angle) * -1)) rotateY(calc(0 * var(--angle)));
}
.mouse-tracker:nth-of-type(17):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-0.9510565163 * var(--angle) * -1)) rotateY(calc(0.3090169944 * var(--angle)));
}
.mouse-tracker:nth-of-type(18):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-0.9510565163 * var(--angle) * -1)) rotateY(calc(0.5877852523 * var(--angle)));
}
.mouse-tracker:nth-of-type(19):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-0.9510565163 * var(--angle) * -1)) rotateY(calc(0.8090169944 * var(--angle)));
}
.mouse-tracker:nth-of-type(20):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-0.9510565163 * var(--angle) * -1)) rotateY(calc(0.9510565163 * var(--angle)));
}
.mouse-tracker:nth-of-type(21):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-0.8090169944 * var(--angle) * -1)) rotateY(calc(-1 * var(--angle)));
}
.mouse-tracker:nth-of-type(22):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-0.8090169944 * var(--angle) * -1)) rotateY(calc(-0.9510565163 * var(--angle)));
}
.mouse-tracker:nth-of-type(23):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-0.8090169944 * var(--angle) * -1)) rotateY(calc(-0.8090169944 * var(--angle)));
}
.mouse-tracker:nth-of-type(24):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-0.8090169944 * var(--angle) * -1)) rotateY(calc(-0.5877852523 * var(--angle)));
}
.mouse-tracker:nth-of-type(25):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-0.8090169944 * var(--angle) * -1)) rotateY(calc(-0.3090169944 * var(--angle)));
}
.mouse-tracker:nth-of-type(26):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-0.8090169944 * var(--angle) * -1)) rotateY(calc(0 * var(--angle)));
}
.mouse-tracker:nth-of-type(27):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-0.8090169944 * var(--angle) * -1)) rotateY(calc(0.3090169944 * var(--angle)));
}
.mouse-tracker:nth-of-type(28):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-0.8090169944 * var(--angle) * -1)) rotateY(calc(0.5877852523 * var(--angle)));
}
.mouse-tracker:nth-of-type(29):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-0.8090169944 * var(--angle) * -1)) rotateY(calc(0.8090169944 * var(--angle)));
}
.mouse-tracker:nth-of-type(30):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-0.8090169944 * var(--angle) * -1)) rotateY(calc(0.9510565163 * var(--angle)));
}
.mouse-tracker:nth-of-type(31):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-0.5877852523 * var(--angle) * -1)) rotateY(calc(-1 * var(--angle)));
}
.mouse-tracker:nth-of-type(32):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-0.5877852523 * var(--angle) * -1)) rotateY(calc(-0.9510565163 * var(--angle)));
}
.mouse-tracker:nth-of-type(33):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-0.5877852523 * var(--angle) * -1)) rotateY(calc(-0.8090169944 * var(--angle)));
}
.mouse-tracker:nth-of-type(34):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-0.5877852523 * var(--angle) * -1)) rotateY(calc(-0.5877852523 * var(--angle)));
}
.mouse-tracker:nth-of-type(35):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-0.5877852523 * var(--angle) * -1)) rotateY(calc(-0.3090169944 * var(--angle)));
}
.mouse-tracker:nth-of-type(36):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-0.5877852523 * var(--angle) * -1)) rotateY(calc(0 * var(--angle)));
}
.mouse-tracker:nth-of-type(37):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-0.5877852523 * var(--angle) * -1)) rotateY(calc(0.3090169944 * var(--angle)));
}
.mouse-tracker:nth-of-type(38):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-0.5877852523 * var(--angle) * -1)) rotateY(calc(0.5877852523 * var(--angle)));
}
.mouse-tracker:nth-of-type(39):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-0.5877852523 * var(--angle) * -1)) rotateY(calc(0.8090169944 * var(--angle)));
}
.mouse-tracker:nth-of-type(40):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-0.5877852523 * var(--angle) * -1)) rotateY(calc(0.9510565163 * var(--angle)));
}
.mouse-tracker:nth-of-type(41):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-0.3090169944 * var(--angle) * -1)) rotateY(calc(-1 * var(--angle)));
}
.mouse-tracker:nth-of-type(42):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-0.3090169944 * var(--angle) * -1)) rotateY(calc(-0.9510565163 * var(--angle)));
}
.mouse-tracker:nth-of-type(43):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-0.3090169944 * var(--angle) * -1)) rotateY(calc(-0.8090169944 * var(--angle)));
}
.mouse-tracker:nth-of-type(44):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-0.3090169944 * var(--angle) * -1)) rotateY(calc(-0.5877852523 * var(--angle)));
}
.mouse-tracker:nth-of-type(45):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-0.3090169944 * var(--angle) * -1)) rotateY(calc(-0.3090169944 * var(--angle)));
}
.mouse-tracker:nth-of-type(46):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-0.3090169944 * var(--angle) * -1)) rotateY(calc(0 * var(--angle)));
}
.mouse-tracker:nth-of-type(47):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-0.3090169944 * var(--angle) * -1)) rotateY(calc(0.3090169944 * var(--angle)));
}
.mouse-tracker:nth-of-type(48):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-0.3090169944 * var(--angle) * -1)) rotateY(calc(0.5877852523 * var(--angle)));
}
.mouse-tracker:nth-of-type(49):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-0.3090169944 * var(--angle) * -1)) rotateY(calc(0.8090169944 * var(--angle)));
}
.mouse-tracker:nth-of-type(50):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(-0.3090169944 * var(--angle) * -1)) rotateY(calc(0.9510565163 * var(--angle)));
}
.mouse-tracker:nth-of-type(51):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0 * var(--angle) * -1)) rotateY(calc(-1 * var(--angle)));
}
.mouse-tracker:nth-of-type(52):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0 * var(--angle) * -1)) rotateY(calc(-0.9510565163 * var(--angle)));
}
.mouse-tracker:nth-of-type(53):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0 * var(--angle) * -1)) rotateY(calc(-0.8090169944 * var(--angle)));
}
.mouse-tracker:nth-of-type(54):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0 * var(--angle) * -1)) rotateY(calc(-0.5877852523 * var(--angle)));
}
.mouse-tracker:nth-of-type(55):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0 * var(--angle) * -1)) rotateY(calc(-0.3090169944 * var(--angle)));
}
.mouse-tracker:nth-of-type(56):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0 * var(--angle) * -1)) rotateY(calc(0 * var(--angle)));
}
.mouse-tracker:nth-of-type(57):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0 * var(--angle) * -1)) rotateY(calc(0.3090169944 * var(--angle)));
}
.mouse-tracker:nth-of-type(58):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0 * var(--angle) * -1)) rotateY(calc(0.5877852523 * var(--angle)));
}
.mouse-tracker:nth-of-type(59):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0 * var(--angle) * -1)) rotateY(calc(0.8090169944 * var(--angle)));
}
.mouse-tracker:nth-of-type(60):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0 * var(--angle) * -1)) rotateY(calc(0.9510565163 * var(--angle)));
}
.mouse-tracker:nth-of-type(61):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0.3090169944 * var(--angle) * -1)) rotateY(calc(-1 * var(--angle)));
}
.mouse-tracker:nth-of-type(62):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0.3090169944 * var(--angle) * -1)) rotateY(calc(-0.9510565163 * var(--angle)));
}
.mouse-tracker:nth-of-type(63):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0.3090169944 * var(--angle) * -1)) rotateY(calc(-0.8090169944 * var(--angle)));
}
.mouse-tracker:nth-of-type(64):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0.3090169944 * var(--angle) * -1)) rotateY(calc(-0.5877852523 * var(--angle)));
}
.mouse-tracker:nth-of-type(65):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0.3090169944 * var(--angle) * -1)) rotateY(calc(-0.3090169944 * var(--angle)));
}
.mouse-tracker:nth-of-type(66):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0.3090169944 * var(--angle) * -1)) rotateY(calc(0 * var(--angle)));
}
.mouse-tracker:nth-of-type(67):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0.3090169944 * var(--angle) * -1)) rotateY(calc(0.3090169944 * var(--angle)));
}
.mouse-tracker:nth-of-type(68):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0.3090169944 * var(--angle) * -1)) rotateY(calc(0.5877852523 * var(--angle)));
}
.mouse-tracker:nth-of-type(69):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0.3090169944 * var(--angle) * -1)) rotateY(calc(0.8090169944 * var(--angle)));
}
.mouse-tracker:nth-of-type(70):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0.3090169944 * var(--angle) * -1)) rotateY(calc(0.9510565163 * var(--angle)));
}
.mouse-tracker:nth-of-type(71):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0.5877852523 * var(--angle) * -1)) rotateY(calc(-1 * var(--angle)));
}
.mouse-tracker:nth-of-type(72):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0.5877852523 * var(--angle) * -1)) rotateY(calc(-0.9510565163 * var(--angle)));
}
.mouse-tracker:nth-of-type(73):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0.5877852523 * var(--angle) * -1)) rotateY(calc(-0.8090169944 * var(--angle)));
}
.mouse-tracker:nth-of-type(74):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0.5877852523 * var(--angle) * -1)) rotateY(calc(-0.5877852523 * var(--angle)));
}
.mouse-tracker:nth-of-type(75):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0.5877852523 * var(--angle) * -1)) rotateY(calc(-0.3090169944 * var(--angle)));
}
.mouse-tracker:nth-of-type(76):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0.5877852523 * var(--angle) * -1)) rotateY(calc(0 * var(--angle)));
}
.mouse-tracker:nth-of-type(77):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0.5877852523 * var(--angle) * -1)) rotateY(calc(0.3090169944 * var(--angle)));
}
.mouse-tracker:nth-of-type(78):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0.5877852523 * var(--angle) * -1)) rotateY(calc(0.5877852523 * var(--angle)));
}
.mouse-tracker:nth-of-type(79):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0.5877852523 * var(--angle) * -1)) rotateY(calc(0.8090169944 * var(--angle)));
}
.mouse-tracker:nth-of-type(80):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0.5877852523 * var(--angle) * -1)) rotateY(calc(0.9510565163 * var(--angle)));
}
.mouse-tracker:nth-of-type(81):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0.8090169944 * var(--angle) * -1)) rotateY(calc(-1 * var(--angle)));
}
.mouse-tracker:nth-of-type(82):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0.8090169944 * var(--angle) * -1)) rotateY(calc(-0.9510565163 * var(--angle)));
}
.mouse-tracker:nth-of-type(83):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0.8090169944 * var(--angle) * -1)) rotateY(calc(-0.8090169944 * var(--angle)));
}
.mouse-tracker:nth-of-type(84):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0.8090169944 * var(--angle) * -1)) rotateY(calc(-0.5877852523 * var(--angle)));
}
.mouse-tracker:nth-of-type(85):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0.8090169944 * var(--angle) * -1)) rotateY(calc(-0.3090169944 * var(--angle)));
}
.mouse-tracker:nth-of-type(86):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0.8090169944 * var(--angle) * -1)) rotateY(calc(0 * var(--angle)));
}
.mouse-tracker:nth-of-type(87):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0.8090169944 * var(--angle) * -1)) rotateY(calc(0.3090169944 * var(--angle)));
}
.mouse-tracker:nth-of-type(88):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0.8090169944 * var(--angle) * -1)) rotateY(calc(0.5877852523 * var(--angle)));
}
.mouse-tracker:nth-of-type(89):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0.8090169944 * var(--angle) * -1)) rotateY(calc(0.8090169944 * var(--angle)));
}
.mouse-tracker:nth-of-type(90):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0.8090169944 * var(--angle) * -1)) rotateY(calc(0.9510565163 * var(--angle)));
}
.mouse-tracker:nth-of-type(91):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0.9510565163 * var(--angle) * -1)) rotateY(calc(-1 * var(--angle)));
}
.mouse-tracker:nth-of-type(92):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0.9510565163 * var(--angle) * -1)) rotateY(calc(-0.9510565163 * var(--angle)));
}
.mouse-tracker:nth-of-type(93):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0.9510565163 * var(--angle) * -1)) rotateY(calc(-0.8090169944 * var(--angle)));
}
.mouse-tracker:nth-of-type(94):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0.9510565163 * var(--angle) * -1)) rotateY(calc(-0.5877852523 * var(--angle)));
}
.mouse-tracker:nth-of-type(95):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0.9510565163 * var(--angle) * -1)) rotateY(calc(-0.3090169944 * var(--angle)));
}
.mouse-tracker:nth-of-type(96):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0.9510565163 * var(--angle) * -1)) rotateY(calc(0 * var(--angle)));
}
.mouse-tracker:nth-of-type(97):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0.9510565163 * var(--angle) * -1)) rotateY(calc(0.3090169944 * var(--angle)));
}
.mouse-tracker:nth-of-type(98):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0.9510565163 * var(--angle) * -1)) rotateY(calc(0.5877852523 * var(--angle)));
}
.mouse-tracker:nth-of-type(99):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0.9510565163 * var(--angle) * -1)) rotateY(calc(0.8090169944 * var(--angle)));
}
.mouse-tracker:nth-of-type(100):hover ~ .card-image {
  transform: perspective(var(--perspective)) rotateX(calc(0.9510565163 * var(--angle) * -1)) rotateY(calc(0.9510565163 * var(--angle)));
}/*# sourceMappingURL=style.css.map */